<h1>Hello world!</h1>

<ol>
<% @webhooks.each do |w| %>
	<% @mecury_info = mercury_formatted(w.body) %>
		<ul style="list-style: none;padding-left: 0;">
			<% @mecury_info.each do |k, v| %>
			<li style="color:blue;"><%= k %>: <span style="color:green"><%= v %></span></li>
			<% end %>
		</ul>
<% end %>
</ol>